/wp-content/plugins/plugin-check
/wp-content/plugins/onesoftway-pricing-table/node_modules
/wp-content/plugins/onesoftway-pricing-table/build
/wp-content/plugins/onesoftway-pricing-table/onesoftway-pricing-table.zip